gymnasium[mujoco]>=1.0
mujoco>=3.2
numpy>=1.26
pillow>=10.0
matplotlib>=3.8
h5py>=3.10
torch>=2.0
torchvision>=0.15
tensorboard>=2.14
opencv-python>=4.8
einops>=0.6
pyquaternion>=0.9
PyYAML>=6.0
rospkg>=1.5
pexpect>=4.8
dm-control>=1.0
packaging>=23.0
tqdm>=4.66
pandas>=2.0
seaborn>=0.13
ipython>=8.0
